{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% block content %}
    <h1>Login</h1>
    {% if error %}
    <p>{{ error }}</p>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" /><br /><br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" /><br /><br />
      <button type="submit" class="button">Login</button>
      <button type="submit" class="button">Register</button>
    </form>
    {% endblock %}
  </body>
</html>
