/* styles.css */

.top-bar {
  height: 50px;
  background-color: #e61881;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  width: 100%;
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure it is above other content */
  border-bottom-left-radius: 20px; /* Adjust the radius as needed */
  border-bottom-right-radius: 20px; /* Adjust the radius as needed */
}

.top-bar h1 {
  margin: 0;
}

.nav-left,
.nav-right {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%; /* Adjust this width as needed to center the nav items */
}
.nav-left li,
.nav-right li {
  margin-right: 40px;
}

.logo {
  display: flex;
  justify-content: left;
  flex-grow: 1;
}

.logo img {
  max-height: 40px; /* Adjust the size as needed */
  border-radius: 10px;
}

.top-bar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.top-bar nav ul li {
  display: inline;
  margin-right: 20px;
}

.top-bar nav ul li a {
  color: white;
  text-decoration: none;
}

.top-bar nav ul li a:hover {
  color: #0056b3;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #e61881;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

a.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  color: #e61881;
  background-color: lightgrey; /* Bootstrap primary color */
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

a.button:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
}

/* Light Mode Styles */
body {
  background-color: lightgrey;
  font-family: "Roboto", sans-serif;
  color: #3d4346;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  flex-direction: column; /* Ensure body content is vertically centered */
  /*background-image: url("images/charity-logo-1.png"); /* Background image */
  background-size: 80px 80px; /* Size of the background image */
  background-size: cover; /* Ensure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-blend-mode: overlay; /* Blend the background image and color */
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-grow: 1;
}

.content {
  display: inline-block;
  padding: 10px 100px 100px 100px;
  background-color: white;
  color: #3d4346;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border-radius: 15px;
  margin: 50px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.menu-toggle {
  display: none; /* Hide menu toggle button by default */
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 20px;
}

.mobile-nav {
  display: none; /* Hide the mobile nav by default */
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #3d4346;
  color: #f0f0f0;
}

.welcome-message {
  text-align: center;
  padding: 20px;
  margin-top: 60px; /* Adjust to ensure it is below the top bar */
  background-color: #f9f9f9; /* Light grey background */
  border-radius: 10px;
}

.welcome-message h1 {
  font-size: 2em;
  color: #333;
}

.welcome-message p {
  font-size: 1.2em;
  color: #666;
}

/* styles for input text fields */

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select {
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  width: 100%; /* Make inputs full width */
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

/* Optional: Additional styling for better appearance */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
select:focus {
  background-color: #e0e0e0; /* Slightly darker grey on focus */
  outline: none; /* Remove default focus outline */
  border-color: #999;
}
/* welcome container */
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  flex-wrap: wrap; /* Ensure wrapping in mobile view */
}

.welcome-image,
.welcome-message {
  flex: 1;
  margin: 10px;
}

.welcome-image img {
  max-width: 100%;
  border-radius: 10px;
}

.welcome-message {
  text-align: left;
}

.welcome-message h1 {
  font-size: 2em;
  color: #333;
}

.welcome-message p {
  font-size: 1.2em;
  color: #666;
}

/* Responsive Design */
@media (max-width: 768px) {
  .top-bar {
    justify-content: space-between; /* Adjust justify-content for mobile */
    padding-bottom: 20px;
  }

  .nav-left,
  .nav-right {
    display: none; /* Hide the main nav items */
  }

  .menu-toggle {
    display: block; /* Show the menu toggle button */
  }

  .mobile-nav {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #e61881;
    position: absolute;
    top: 50px;
    width: 80%;
  }

  .mobile-nav li {
    text-align: center;
    padding: 10px 0;
  }

  .logo {
    order: 1;
    justify-content: flex-start; /* Align the logo to the left */
  }

  .menu-toggle {
    order: 2;
    margin-left: auto; /* Push the toggle button to the right */
  }

  .logo img {
    max-height: 30px; /* Adjust the size as needed */
    border-radius: 5px;
  }
  .welcome-container {
    flex-direction: column;
    text-align: center; /* Center text in mobile view */
  }

  .welcome-message {
    text-align: center; /* Center text in mobile view */
  }
  .welcome-image img {
    max-width: 100%;
    border-radius: 5px;
  }
  .welcome-message h1 {
    font-size: 1em;
    color: #333;
  }

  .welcome-message p {
    font-size: 1em;
    color: #666;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-height: 20px; /* Adjust the size as needed */
    border-radius: 2px;
  }
}
