{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Student Attendance{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'css/images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    {% block content %}
    <h2>Welcome to the QR Scanning System</h2>
    <div class="content-container">
      <br /><br />
      <a href="{% url 'add_student' %}" class="button">Add Student</a>
      <a href="{% url 'scan_qr_code' %}" class="button">Scan Student</a>
    </div>
    {% endblock %}
  </body>
</html>
