<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Student Attendance{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'css/images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="content-container">
      <script src="{% static 'js/script.js' %}"></script>
      <!-- Top bar -->
      <div class="top-bar container">
        <nav>
          <div class="nav-container">
            <ul class="nav-left">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li>
                <a href="{% url 'student_management' %}">Student Management</a>
              </li>
            </ul>
            <div class="logo">
              <img
                src="{% static 'css/images/charity-logo-1.png' %}"
                alt="Logo"
              />
            </div>
            <ul class="nav-right">
              <li>
                <button id="dark-mode-toggle">Toggle Dark Mode</button>
              </li>
            </ul>
          </div>
        </nav>
      </div>
      <!-- Main content -->
      <div class="content">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
