<!-- base.html -->

<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Student Attendance{% endblock %}</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'css/images/favicon.ico' %}"
    />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>
  <body>
    <div class="content-container">
      <!-- <button id="dark-mode-toggle">Toggle Dark Mode</button> -->
      <script src="{% static 'js/script.js' %}"></script>
      <!-- Top bar -->
      <div class="top-bar container">
        <nav>
          <div class="nav-container">
            <div class="logo">
              <a href="{% url 'home' %}">
                <img
                  src="{% static 'css/images/charity-logo-1.png' %}"
                  alt="Logo"
                />
              </a>
            </div>
            <ul class="nav-left">
              <li><a href="{% url 'home' %}">Login</a></li>
              {% comment %}
              <li>
                <a href="{% url 'student_management' %}">QR Scan Management</a>
              </li>
              {% endcomment %}
            </ul>
            <ul class="nav-right">
              <li>
                <button id="dark-mode-toggle">Toggle Dark Mode</button>
              </li>
            </ul>
            <button class="menu-toggle" id="menu-toggle">☰</button>
            <!-- Menu toggle button for mobile view -->
          </div>
          <ul class="mobile-nav" id="mobile-nav">
            <li><a href="{% url 'home' %}">Login</a></li>
            {% comment %}
            <li>
              <a href="{% url 'student_management' %}">Student Management</a>
            </li>
            {% endcomment %}
            <li>
              <button id="dark-mode-toggle-mobile">Toggle Dark Mode</button>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Main content -->
      <div class="content">{% block content %} {% endblock %}</div>
    </div>
  </body>
</html>
